:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: fixed;
  overflow: hidden auto;
  z-index: 10;
  left: 0;
  top: 0;
  height: -webkit-fill-available;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}
.menu-sidebar .menu-item {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  overflow:hidden auto;
  height: calc(100vh - 90px);
}
/* .sidebar-logo {
  height: 55px;
  background: #76b800;
} */

/* .header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
} */


.right-layout {
  margin-left: 200px;
  min-height: 100vh;
}

.right-layout.collapse {
  margin-left: 80px;
}

.header-trigger {
  font-size: 18px;
  cursor: pointer;
  transition: all .3s,padding 0s;
  margin-left: 15px;
  line-height: 0;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 55px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  /* background: #76b800; */
  background: rgb(16, 142, 233);
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-left: -6px;
  margin-top: -12px;
  background: white;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

nz-content {
  margin: 16px;
}

nz-breadcrumb {
  margin: 0 0 16px 0;
}

.app-header {
  position: fixed;
  width: calc(100% - 200px);
  height: 64px;
  padding: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  z-index: 10;
}

.app-header.collapse {
  width: calc(100% - 80px);
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.s2-login-form {
  max-width: 300px;
  margin-top: 40vh;
  margin-left: 40vw;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.s2-notification-head {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.s2-info-fullname {
  float: right;
  height: 100%;
  line-height: 15px;
  text-align: right;
  padding-top: 12px;
}

.s2-info-fullname-firstname {
  font-weight: bold;
  font-size: 16px;
}

.s2-info-fullname-lastname {
  font-size: 12px;
  font: menu;
}

.s2-layout-footer {
  /* position: absolute; */
  position: fixed;
  bottom: 0px;
  width: 200px;
  /* width: 100%; */
  border-top: 1px solid rgb(232, 232, 232);
  padding: 5px;
  left: 0px;
  background: #fff;
}
.s2-layout-footer.collapse {
  width: 80px;
}
ul.s2-userInfo-dropdown {
  border: none;
}

/* Notifications */
nz-table.s2-tb-notifications { width: 250px; }
tr.s2-noti-tr > td { padding: 10px; }
tr.s2-noti-tr > td > * { margin: 0; font-size: 13px; line-height: 15px; }
tr.s2-noti-tr:hover { cursor: pointer; }
tr.s2-noti-tr:hover > td > nz-avatar { animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both; }

span.s2-btn-notifications-del:hover > i {
  background-color: #1890ff;
  border-radius: 50%;
  font-size: 18px !important;
  color: white;
  cursor: pointer;
  padding: 2px;
}

@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}

.header-right {
  height: 55px;
  width: 50px;
  padding: 0;
  margin-right: 10px;
  float: right;
}
.header-right > nz-avatar {
  display: block;
  margin: 4px 0 0 4px;
  height: 46px;
  width: 46px;
}

.s2-topBar-i18n {
  float: right;
  height: 55px;
  width: 50px;
}
ul.s2-i18n-ul { padding: 0; margin: 0; list-style: none; font-size: 13px; }
ul.s2-i18n-ul > li { padding: 5px 20px; cursor: pointer; }
ul.s2-i18n-ul > li:hover { background-color: #fafafa; }
ul.s2-i18n-ul > li > img { margin-right: 5px; width: 30px; }