.s2-notification-content > div > div > div > div.ant-popover-inner-content { padding: 0; }
.ant-table-tbody > tr > td { padding: 10px }
.ant-card-body { padding: 10px !important; }
.s2-action-bar > div > nz-form-item { margin: 0; }
.s2-action-bar { border-bottom: 1px solid #108ee9; padding-bottom: 3px; margin: 0 0 5px 0 !important; }
nz-card.s2-ttnv > div.ant-card-body { padding: 0 !important; }
nz-date-picker { width: 100%; }

.s2-ttnv-tabs .ant-tabs-nav-wrap { margin-left: 10px; }
.s2-ttnv-tabs .ant-tabs-tab { padding: 0px 10px; margin-right: 2px; }
.s2-ttnv-tabs .ant-tabs-tab.ant-tabs-tab-active { border-bottom: 4px solid white; }
.s2-ttnv-tabs .ant-tabs-tab.ant-tabs-tab-active > .ant-tabs-tab-btn { color: white; }
.s2-ttnv-tabs .ant-tabs-ink-bar { position: inherit; background: none; pointer-events: none; }
.s2-ttnv-tabs .ant-collapse-content > .ant-collapse-content-box { padding: 5px !important; }
nz-collapse.s2-ttnv-infoGroups { border: none; background: none; }
nz-collapse.s2-ttnv-infoGroups > nz-collapse-panel { margin-bottom: 5px; background-color: white; }

.s2-th-sort > nz-table-sorters { padding: 0 !important; }
.s2-th-sort > nz-table-sorters > span.ant-table-column-sorter { margin-left: 3px !important; }

sinh-nhat-trong-thang > nz-card > div.ant-card-body { padding: 0 5px !important; margin-top: 1px; }


.s2-collapse > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box { padding: 10px 5px 0px 5px !important; }
.ant-collapse > .ant-collapse-item { margin-bottom: 10px; background: #fafafa; border: 1px solid #d9d9d9; }
.s2-collapse { background: none; border: none; }

